on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      node-version:
        type: number
        required: true

jobs:

  build:
    name: "on ${{inputs.os}} for Node V${{ inputs.node-version }}"
    runs-on: ${{inputs.os}}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ inputs.node-version }}
    - run: npm ci
    - run: npm run build
    - uses: actions/upload-artifact@v2
      with:
        name: build-${{inputs.os}}-node-${{ inputs.node-version }}
        path: dist/