name: Check license

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      node-version:
        type: number
        required: true

jobs:
  check-license:
    name: Check license
    runs-on: ${{inputs.os}}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ inputs.node-version }}
    - name: Install dependencies
      uses: ${{GITHUB_REPOSITORY}}/.github/workflows/step-install-dependencies.yml@${{GITHUB_REF_NAME}}
      with:
        os: ${{inputs.os}}
        node-version: ${{inputs.node-version}}
    - name: Run 'npm run license'
      run: npm run license
